img {
    display: block;
    border: 1px solid black;
    width: 25%;
    height: 25%;
    vertical-align: auto;
}

body {
    background-color: rgb(0, 0, 0);
    vertical-align: center;
    padding-left: 35%;
}